@tailwind base;

.summary-post{
    -webkit-box-shadow: inset 0px -29px 17px -12px rgba(82,82,82,0.16);
    -moz-box-shadow: inset 0px -29px 17px -12px rgba(82,82,82,0.16);
    box-shadow: inset 0px -29px 17px -12px rgba(82,82,82,0.16);

}

@tailwind components;
@tailwind utilities;
