@tailwind base;

:root {
    --primary-color: #2E3192;
    --secondary-color: hsl(0deg, 0%, 100%);
    --font-color: hsl(225deg, 25%, 10%);
    --bg-color: hsl(225deg, 25%, 95%);
    --heading-color:  hsl(225deg, 15%, 15%);
    --highlight-color: #FBB040;
    --hr-color: #eee;
    --writing-body: #444;
    --button-bg: #FBB040;
  }
  
  [data-theme="dark"] {
    --primary-color: hsl(230deg, 92%, 63%);
    --secondary-color: hsl(210deg, 22%, 15%);
    --font-color: hsl(0deg, 0%, 95%);
    --bg-color:hsl(210deg, 30%, 8%);
    --heading-color:hsl(210deg, 25%, 96%);
    --highlight-color: #FE5F55;
    --hr-color: #222;
    --writing-body: #eee;
    --button-bg: #b8860b;
  }

  * {
    transition: background .2s linear;
  }
  

/* fonts start */
h1, h2 { font-family: 'Yanone Kaffeesatz', sans-serif; color: var(--heading-color);}
h3, h4, h5, h6 { font-family: 'Overlock', cursive; color: var(--heading-color);}
body { font-family: 'Heebo', sans-serif; background-color: var(--bg-color); color: var(--font-color);}
/* fonts end */

/* blog stuffs start */
.summary-post::-webkit-scrollbar { display: none;}
.summary-post{ scrollbar-width: none;}

.blog-card:hover .text-box { 
    @apply  transition duration-300 ease-out transform scale-105 shadow-xl;
}
.blog-card .image-box {
    @apply transition duration-500 ease-out transform;  
    filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
    -webkit-filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
    -moz-filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
}
.blog-card:hover .image-box {
    @apply transition duration-500 ease-out transform border-2 border-blue-800 shadow-2xl;  
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
}
/* blog stuffs end */

/* misc start */
.underline-custom {
    -webkit-text-decoration: var(--highlight-color) solid underline;
    text-decoration:var(--highlight-color) solid underline;
    -webkit-text-underline-position: auto;
    text-underline-position: auto;
}
.button-primary{
    background-color: var(--button-bg);
    color: var(--secondary-color);
    @apply inline-flex items-center px-3 py-1 text-base rounded focus:outline-none hover:bg-yellow-600;
}
.button-secondary{
    background-color: var(--secondary-color);
    color: var(--button-bg);
    @apply inline-flex items-center px-3 py-1 text-base border-b-2 rounded shadow-md border-secondary focus:outline-none hover:border-button;
}
.bullseye{
    @apply flex items-center justify-center;
}
.theme-switch-button {
    border: none;
    background: none;
    cursor: pointer;
    cursor: hand;
    color: var(--heading-color);
    outline: 0;
    margin-top: 5px;
    position: fixed;
    top: 15px;
    right: 15px;
    @apply focus:outline-none;
  }
  
  .theme-switch-button svg {
    fill: var(--highlight-color);
  }
  input, textarea{
    @apply rounded;
  }

  
/* misc end */

@tailwind components;
@tailwind utilities;