@tailwind base;

.summary-post::-webkit-scrollbar { display: none;}
.summary-post{ scrollbar-width: none;}

.blog-card:hover .text-box { @apply transition duration-300 ease-out transform scale-105 shadow-xl;}

.blog-card:hover .image-box {
    @apply transition duration-500 ease-out transform border-2 border-blue-800 shadow-2xl;  
    filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
    -webkit-filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
    -moz-filter: grayscale(14%) sepia(48%) blur(2px) contrast(106%);
}

.underline-custom {
    -webkit-text-decoration: #2c5282 solid underline;
    text-decoration: #2c5282 solid underline;
    -webkit-text-underline-position: auto;
    text-underline-position: auto;
  }

@tailwind components;
@tailwind utilities;
